*.iml
.idea
*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
dependency-reduced-pom.xml
hello-world.yml
dockstore-webservice/target/
dockstore-client/target/
dockstore-launcher/target/
dockstore-launcher/foo.json
swagger-java-client/build.gradle
swagger-java-client/gradle.properties
swagger-java-client/settings.gradle
/swagger-java-client/target/
/swagger-java-quay-client/target/
dockstore-webservice/nbactions.xml
/dockstore-common/target/
/dockstore-integration-testing/target/

# confidential testing files
secrets.tar
dockstore-integration-testing/src/test/resources/confidential_test.txt
dockstore-integration-testing/src/test/resources/config_file.txt
dockstore-integration-testing/src/test/resources/db_dump.sql
dockstore-integration-testing/src/test/resources/dockstoreTest.yml
dockstore-integration-testing/src/test/resources/secrets.tar
