argcomplete==2.0.0
bagit==1.8.1
CacheControl==0.12.11
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.0.1
coloredlogs==15.0.1
cwlref-runner==1.0
cwl-utils==0.23
cwl-upgrader==1.2.4
cwltool==3.1.20230201224320
decorator==5.1.1
future==0.18.2
humanfriendly==10.0
idna==3.4
isodate==0.6.1
lockfile==0.12.2
lxml==4.9.2
mistune==2.0.4
msgpack==1.0.4
mypy-extensions==0.4.3
networkx==3.0
packaging==23.0
prov==1.5.1
psutil==5.9.4
pydot==1.4.2
pyparsing==3.0.9
python-dateutil==2.8.2
rdflib==6.2.0
rdflib-jsonld==0.6.2
requests==2.31.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scandir==1.10.0
schema-salad==8.4.20230201194352
setuptools==62.1.0
shellescape==3.8.1
six==1.16.0
typing-extensions==4.4.0
urllib3==1.26.14



