version: 2.1
orbs:
  aws-s3: circleci/aws-s3@1.0.0
executors:
  integration_test_exec:
    docker: # run the steps with Docker
      - image: cimg/openjdk:11.0.10
        environment:
          JAVA_TOOL_OPTIONS: -Xmx512m # Nothing to do with surefire plugin, it has its own JVM. The two of these plus ES (1.3 GB) must add up to a bit less than 6GB.
          PGHOST: 127.0.0.1
      - image: circleci/postgres:12.0
        command: postgres -c max_connections=200
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          PG_HOST: localhost
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_PASSWORD: postgres
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.10.1
        environment:
          - xpack.security.enabled: false
          - transport.host: localhost
          - network.host: 127.0.0.1
          - http.port: 9200
          - discovery.type: single-node
    resource_class: medium+
  machine_integration_test_exec:
    machine: # run the steps with Ubuntu VM
      image: ubuntu-2004:202010-01
    environment:
      PGHOST: 127.0.0.1
    resource_class: medium

common_filters: &common_filters
  filters:
    tags:
      only: /.*/
    branches:
      ignore:
        - gh-pages


workflows:
  version: 2
  everything:
    jobs:
      - build:
          <<: *common_filters
      - unit_test:
          <<: *common_filters
          requires:
            - build
          context:
            - sonarcloud
            - aws
      - workflow-integration-tests:
          <<: *common_filters
          requires:
            - build
          context: sonarcloud
      - language-parsing-tests:
          <<: *common_filters
          requires:
            - build
          context: sonarcloud
      - tool-integration-tests:
          <<: *common_filters
          requires:
            - build
          context: sonarcloud
      - integration-tests:
          <<: *common_filters
          requires:
            - build
          context: sonarcloud
      - regression-integration-tests:
          filters:
            branches:
              only:
                - master
                - /^release.*$/
          requires:
            - build
jobs:
  regression-integration-tests:
    executor: machine_integration_test_exec
    environment:
      TESTING_PROFILE: regression-integration-tests
    steps:
      - old_python
      - setup_machine
      - setup_test
      - setup_postgres_docker
      - setup_integration_test
      - save_test_results
  cwltool-tests:
    executor: machine_integration_test_exec
    environment:
      TESTING_PROFILE: require-cwltool-tests
    steps:
      - old_python
      - setup_machine
      - setup_test
      - setup_postgres_docker
      - setup_integration_test
      - save_test_results
  integration-tests:
    executor: integration_test_exec
    environment:
      TESTING_PROFILE: integration-tests
    steps:
      - setup_remote_docker:
          version: 19.03.13
      - setup_test
      - install-postgres
      - setup_postgres
      - setup_integration_test
      - save_test_results
  tool-integration-tests:
    executor: integration_test_exec
    environment:
      TESTING_PROFILE: tool-integration-tests
    steps:
      - setup_test
      - install-postgres
      - setup_postgres
      - setup_integration_test
      - save_test_results
  workflow-integration-tests:
    executor: integration_test_exec
    environment:
      TESTING_PROFILE: workflow-integration-tests
    steps:
      - setup_test
      - install-postgres
      - setup_postgres
      - setup_integration_test
      - save_test_results
  language-parsing-tests:
    executor: machine_integration_test_exec
    environment:
      TESTING_PROFILE: language-parsing-tests
    steps:
      - old_python
      - setup_machine
      - install-pip
      - run: 
          name: build sam-cli
          command: |
            pip3 install aws-sam-cli
            sudo apt install unzip
            wget https://github.com/dockstore/lambda/releases/download/0.1.6-SNAPSHOT/wdl-parsing.zip
            unzip wdl-parsing.zip
            cd wdl-parsing
            # docker pull amazon/aws-sam-cli-build-image-java11
            # cannot seem to `sam build --use-container` using local jdk and mvn instead
            sam build --use-container
      - run:
          name: run sam-cli
          command: |
            cd wdl-parsing
            sam local start-api
          background: true
      - setup_test
      - setup_postgres_docker
      - run:
          name: Wait for lambda
          command: wget --output-document /dev/null --waitretry=5 --tries=10 --retry-connrefused localhost:3000 || true
      - setup_integration_test
      - save_test_results
  build:
    docker: # run the steps with Docker
      - image: cimg/openjdk:11.0.10
    steps: # a collection of executable commands
      - checkout # check out source code to working directory
      - restore_cache: # restore the saved cache after the first run or if `pom.xml` has changed
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: dockstore-java-{{ checksum "pom.xml" }}
      - install-git-secrets
      - run:
          name: decrypt and expand confidential test data
          command: |
            sudo apt install openssl -y
            bash scripts/decrypt.sh
      - run:
          name: build
          command: mvn -B clean install -DskipTests
      # - run:
      #     name: validate openapi
      #     command: |
      #       wget --no-verbose https://repo.maven.apache.org/maven2/org/openapitools/openapi-generator-cli/4.3.0/openapi-generator-cli-4.3.0.jar -O openapi-generator-cli.jar
      #       java -jar openapi-generator-cli.jar validate -i dockstore-webservice/src/main/resources/swagger.yaml
      #       java -jar openapi-generator-cli.jar validate -i dockstore-webservice/src/main/resources/openapi3/openapi.yaml
      - run:
          name: copy m2 manually
          command: cp -r ~/.m2 .
      - persist_to_workspace:
          root: .
          paths:
            - .
      - run:
          name: check generated flattened POMs match checked-in files.
          command: |
            # need better solution, but leaving this as-is fouls up the release since the Maven release plugin doesn't know about the flattened poms
            if [[ -z "${CIRCLE_TAG}" ]]; then
              scripts/check_poms.sh
            fi
          environment:
            TESTING_PROFILE: automated-review
  unit_test: # runs not using Workflows must have a `build` job as entry point
    parameters:
      aws_bucket:
        type: string
        default: "${AWS_BUCKET}"
    docker: # run the steps with Docker
      - image: cimg/openjdk:11.0.10
        environment:
          PGHOST: 127.0.0.1
      - image: circleci/postgres:11.8
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_PASSWORD: postgres
    steps: # a collection of executable commands
      - checkout
      - restore_cache:
          key: dockstore-web-cache-unit-test-{{ .Environment.CACHE_SEGMENTED_VERSION }}-segmented
      - install-postgres
      - install-git-secrets
      - setup_postgres
      - run:
          name: run the actual tests
          command: mvn -B org.jacoco:jacoco-maven-plugin:report org.jacoco:jacoco-maven-plugin:report-aggregate clean install -Punit-tests,coverage -ntp
      - run:
          name: run the non-confidential integration tests
          command: |
            # Adding all "normal" certs into this local one that has the Hoverfly cert (instead of adding Hoverfly cert to the global one so it doesn't potentially affect other tests)
            /usr/local/jdk-11.0.10/bin/keytool -importkeystore -srckeystore $JAVA_HOME/lib/security/cacerts -destkeystore LocalTrustStore -srcstorepass changeit -deststorepass changeit
            export SKIP_SIGNATURE_CHECK=false
            if [[ -z "${CIRCLE_TAG}" ]]; then
              # If it is a branch, skip the signature check
              export SKIP_SIGNATURE_CHECK=true
            fi
            mvn -B org.jacoco:jacoco-maven-plugin:report org.jacoco:jacoco-maven-plugin:report-aggregate clean install -Pnon-confidential-tests,coverage -Djavax.net.ssl.trustStore=../LocalTrustStore -Djavax.net.ssl.trustStorePassword=changeit  -DskipSignatureCheck=$SKIP_SIGNATURE_CHECK -ntp
            # mvn -B org.jacoco:jacoco-maven-plugin:report org.jacoco:jacoco-maven-plugin:report-aggregate clean install -Pnon-confidential-tests,coverage -Djavax.net.ssl.trustStore=../LocalTrustStore -Djavax.net.ssl.trustStorePassword=changeit -ntp
      - run:
          name: send coverage
          command: bash <(curl -s https://codecov.io/bash) -F ${TESTING_PROFILE//-} || echo "Codecov did not collect coverage reports"
      - run:
          name: check that JPA classes are consistent with migrations
          command: |
            scripts/check_migrations.sh
          environment:
            TESTING_PROFILE: automated-review
      - run:
          name: check generated THIRD-PARTY-LICENCES.txt matches checked-in file
          command: |
            scripts/check-licenses.sh
          environment:
            TESTING_PROFILE: automated-review
      - run:
          name: Run git-secrets scan on dockstore repository
          # Needs to be after a build so that the correct configuration is set
          # by the exec-maven plugin
          command: |
            git secrets --scan
      - run:
          name: clean the cache
          command: |
            rm -rf ~/.m2/repository/io/dockstore
            rm -rf ~/.m2/repository/.cache/download-maven-plugin directory
      - save_cache: # saves the project dependencies
          paths:
            - ~/.m2
          key: dockstore-java-{{ checksum "pom.xml" }}
      - save_cache:
          key: dockstore-web-cache-unit-test-{{ .Environment.CACHE_SEGMENTED_VERSION }}-segmented
          paths:
            - /tmp/dockstore-web-cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/.*-reports/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
      - run:
          name: SonarCloud scan - coverage
          command: mvn sonar:sonar
      - run:
          name: Make jar directory
          command: mkdir /tmp/artifacts
      - run:
          name: Move jars
          command: cp dockstore-webservice/target/dockstore*[^s].jar /tmp/artifacts
      - run:
          name: Move swagger.yaml
          command: |
            cp dockstore-webservice/src/main/resources/swagger.yaml /tmp/artifacts
            cp dockstore-webservice/src/main/resources/openapi3/openapi.yaml /tmp/artifacts
      - run:
          name: Move cache miss log
          command: cp /tmp/dockstore-web-cache.misses.log /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts
      - setup_remote_docker
      - run:
          name: Build and publish Docker
          command: |
            export tagOrBranch=${CIRCLE_TAG-$CIRCLE_BRANCH}
            # Convert slashes to underscores, e.g., feature/seab-1675/pushtoquay to feature_seab-1675_pushtoquay
            export dockerVersion=${tagOrBranch//\//_}
            docker build -t quay.io/dockstore/dockstore-webservice:$dockerVersion .
            echo "$QUAY_PASSWORD" | docker login -u=$QUAY_USERNAME --password-stdin quay.io
            # Gather the checksum information
            docker push quay.io/dockstore/dockstore-webservice:$dockerVersion
            docker inspect quay.io/dockstore/dockstore-webservice:$dockerVersion | grep -A 1 RepoDigests
            docker inspect quay.io/dockstore/dockstore-webservice:$dockerVersion | grep -A 1 RepoDigests | grep -oPm1 'sha256:\K\w+' > image-digest.txt
      - install-pip
      - aws-s3/copy:
          from: image-digest.txt
          to: 's3://${AWS_BUCKET}/${CIRCLE_TAG:-$CIRCLE_BRANCH}-$(echo $CIRCLE_SHA1 | cut -c -7)/image-digest.txt'
commands:
  install-postgres:
    steps:
      - run:
          name: Install postgresql client
          command: |
            sudo rm -rf /var/lib/apt/lists/*
            sudo apt update
            sudo apt install -y postgresql-client
  install-git-secrets:
    steps:
      - run:
          name: Install git-secrets
          command: |
            wget --no-verbose -O git-secrets-1.3.0.tar.gz https://github.com/awslabs/git-secrets/archive/1.3.0.tar.gz
            tar -zxf git-secrets-1.3.0.tar.gz
            cd git-secrets-1.3.0
            sudo make install
  install-pip:
    steps:
      - run:
          name: install pip
          command: |
            sudo apt update
            sudo apt install python3-distutils python3-dev python3-pip
            # For debug purposes, a python3 version was installed in the image, pip is untagged
            python3 --version
            pip3 --version
            alias pip=pip3
  setup_postgres:
    steps:
      - run:
          name: setup postgres
          command: |
            psql -c "create user dockstore with password 'dockstore' createdb;" -U postgres
            psql -c 'create database webservice_test with owner = dockstore;' -U postgres
  setup_postgres_docker:
    steps:
      - run:
          name: setup postgres
          command: |
            docker exec -it -u postgres postgres1 psql -c "create user dockstore with password 'dockstore' createdb;"
            docker exec -it -u postgres postgres1 psql -c "create database webservice_test with owner = dockstore;"
  old_python: # Need Python 3.6 for old Dockstore 1.7 requirements.txt
    steps:
      - run:
          name: Install & use Python 3.6
          command: |
            sudo add-apt-repository ppa:deadsnakes/ppa
            sudo apt-get update
            sudo apt-get install python3.6 python3.6-dev python3-virtualenv
            virtualenv -p /usr/bin/python3.6 venv
            echo 'source venv/bin/activate' >> ~/.bashrc
  setup_machine:
    steps:
      - attach_workspace:
          at: .
      - run: # Useful for verifying default versions on machine image
          name: Java/Maven/Python versions
          command: |
            java -version
            mvn -v
            python3 -V
      - run:
          name: Docker-Compose
          command: docker-compose up -d
  setup_test:
    steps:
      - attach_workspace:
          at: .
      - restore_cache: # restore the saved cache after the first run or if `pom.xml` has changed
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          key: dockstore-java-{{ checksum "pom.xml" }}
      - run:
          name: manually copy back .m2
          command: cp -r .m2 ~/.m2
      - restore_cache:
          key: dockstore-web-cache-{{ .Environment.CIRCLE_JOB }}-{{ .Environment.CACHE_SEGMENTED_VERSION }}-segmented
  setup_integration_test:
    steps:
      - install-pip
      - run:
          name: install pip dependencies
          command: scripts/install-tests.sh
      - run:
          name: decrypt and expand confidential test data
          command: |
            sudo apt install openssl -y
            bash scripts/decrypt.sh
      - install-git-secrets
      - run:
          name: install dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.6.1
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run:
          name: Wait for ES
          command: |
            wget --output-document /dev/null --waitretry=5 --tries=10 --retry-connrefused localhost:9200 || true
      - run:
          name: run integration test
          command: mvn -B org.jacoco:jacoco-maven-plugin:report org.jacoco:jacoco-maven-plugin:report-aggregate clean install -P$TESTING_PROFILE,coverage -ntp
      - run:
          name: send coverage
          command: bash <(curl -s https://codecov.io/bash) -F ${TESTING_PROFILE//-} || echo "Codecov did not collect coverage reports"
      - run:
          name: SonarCloud scan - coverage
          command: mvn sonar:sonar
  save_test_results:
    steps:
      - save_cache:
          key: dockstore-web-cache-{{ .Environment.CIRCLE_JOB }}-{{ .Environment.CACHE_SEGMENTED_VERSION }}-segmented
          paths:
            - /tmp/dockstore-web-cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/.*-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: /tmp/dockstore-web-cache.misses.log
