<footer class="site-footer footer">
  <div class="container-fluid main-menu footer-content">
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
          <ul class="footer-list">
            <li>
              <a href="#" class="footer-link">
                About Dockstore
              </a>
            </li>
            <li>
              <a href="https://github.com/{{ site.repository }}/blob/1.2.10/LICENSE" class="footer-link">&copy; 2017 OICR</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 no-padding text-center">
          Can't find what you're looking for?<br />
          <a href="https://gitter.im/{{ site.repository }}" class="footer-link">Chat With Us on Gitter&raquo;</a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 no-padding">
          <ul class="footer-list">
            <li class="col-sm-6 no-padding">
              <a href="https://github.com/{{site.repository}}" class="footer-link">
                <img src="{{"/assets/images/github.png" | relative_url }}">
                Github
              </a>
            </li>
            <li class="col-sm-6 no-padding">
              <a href="https://twitter.com/{{ site.twitter }}" class="footer-link">
                <img src="{{"/assets/images/twitter.png" | relative_url }}">
                Follow Us
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>


</footer>
