<footer class="site-footer footer">
    <div class="container-fluid p-4">
        <div class="container">
            <!-- from https://raw.githubusercontent.com/dockstore/dockstore-ui2/develop/src/app/footer/footer.component.html -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="footer-list list-inline text-center m-0">
                        <li class="m-0">
                            <a href="https://github.com/ga4gh/dockstore/blob/1.2.10/LICENSE" target="_blank" rel="noopener noreferrer"
                               class="footer-link">
                                <small>&copy; 2019 OICR</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://docs.dockstore.org/docs/" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <small>About</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://dockstore.org/static/swagger-ui/index.html#" target="_blank" rel="noopener noreferrer"
                               class="footer-link">
                                <small>Swagger</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://dockstore.org/api/metadata/rss" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <small>RSS</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://status.dockstore.org/" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <img src="https://img.shields.io/uptimerobot/status/m779655940-a297af07d1cac2d6ad40c491.svg">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="list-inline text-center m-0">
                        <li class="m-0">
                            <a href="https://github.com/ga4gh/dockstore" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <small>Github</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://twitter.com/DockstoreOrg" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <small>Twitter</small>
                            </a>
                        </li>
                        <li class="m-0">
                            <a href="https://gitter.im/ga4gh/dockstore" target="_blank" rel="noopener noreferrer" class="footer-link">
                                <small>Gitter</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- -->
            <div class="row text-center mt-2 mb-2">
                <a href="https://dockstore.org/funding" class="footer-link" id="support-footer-link">
                    <small>Support for Dockstore is provided by grants from Genome Canada, the National Institutes of Health, and the
                        Province of Ontario.
                    </small>
                </a>
            </div>
        </div>
    </div>
</footer>
