<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="shortcut icon" type="image/x-icon" href="{{"/assets/favicon.ico" | relative_url }}">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Load CSS  -->
  <link href="{{ 'assets/styles/doc.min.css' | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "assets/styles/site.css" | relative_url }}">

  <!-- Load JS -->
  <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/doc.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/script.js' | relative_url }}"></script>

</head>
