---
layout: default
---
<div class="app-header">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="app-header-text">
            News and Blog
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container site-content-container">
    {% include breadcrumbs-posts.html title='' %}

      {% for post in site.posts %}
      <div class="panel panel-default">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <div class="panel-heading">
          <h3 class="panel-title"><a class="news-header" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          <span class="text-right"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ post.date | date: date_format }}</span>
        </div>
        <div class="panel-body">
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
      {% endfor %}

    <p><a class="btn btn-primary" href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS</a></p>
    {{ content }}
  </div>
