 {
    "swagger": "2.0",
    "info": {
        "title": "Discourse API Documentation",
        "x-logo": {
            "url": "https://discourse-meta.s3-us-west-1.amazonaws.com/optimized/3X/9/d/9d543e92b15b06924249654667a81441a55867eb_1_690x184.png"
        },
        "description": "This page contains the documentation on how to use Discourse through API calls.\n\n> Note: This documentation is not complete, so for missing parts you may have to\n[reverse engineer the Discourse API](https://meta.discourse.org/t/how-to-reverse-engineer-the-discourse-api/20576) to figure out how to use an API endpoint.\n\n### Request Content-Type\n\nThe Content-Type for POST and PUT requests must be set to `application/x-www-form-urlencoded`\nor `multipart/form-data` otherwise you may receive a bad request response.\n\n### Endpoint Names and Response Content-Type\n\nMost API endpoints provide the same content as their HTML counterparts. For example\nthe URL `/categories` serves a list of categories, the `/categories.json` API provides the\nsame information in JSON format.\n\nInstead of sending API requests to `/categories.json` you may also send them to `/categories`\nand add an `Accept: application/json` header to the request to get the JSON response.\nSending requests with the `Accept` header is necessary if you want to use URLs\nfor related endpoints returned by the API, such as pagination URLs.\nThese URLs are returned without the `.json` prefix so you need to add the header in\norder to get the correct response format.\n\n### Authentication\n\nSome endpoints do not require any authentication, pretty much anything else will\nrequire you to be authenticated.\n\nTo become authenticated you will need to create an API Key from the admin panel.\n\nOnce you have your API Key you can pass it in as a GET url parameter like this:\n\n```\ncurl -X GET \"http://127.0.0.1:3000/admin/users/list/active.json?api_key=714552c6148e1617aeab526d0606184b94a80ec048fc09894ff1a72b740c5f19&api_username=discourse1\"\n```\n\nIf you are making a POST request you can pass them in the body:\n\n```\ncurl -X POST \"http://127.0.0.1:3000/categories\" \\\n-H \"Content-Type: multipart/form-data;\" \\\n-F \"api_key=714552c6148e1617aeab526d0606184b94a80ec048fc09894ff1a72b740c5f19\" \\\n-F \"api_username=discourse1\" \\\n-F \"name=89853c20-4409-e91a-a8ea-f6cdff96aaaa\" \\\n-F \"color=49d9e9\" \\\n-F \"text_color=f0fcfd\"\n```\n",
        "version": "latest"
    },
    "host": "discuss.dockstore.org",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/categories.json": {
            "get": {
                "summary": "Get a list of categories",
                "description": "The Categories endpoint returns a list of all the categories for\nyour discourse site that you have access to.\n",
                "parameters": [],
                "tags": [
                    "Categories"
                ],
                "responses": {
                    "200": {
                        "description": "A category_list object that contains an array of categories\n",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "category_list": {
                                    "type": "object",
                                    "properties": {
                                        "can_create_category": {
                                            "type": "boolean"
                                        },
                                        "can_create_topic": {
                                            "type": "boolean"
                                        },
                                        "draft": {
                                            "type": "boolean"
                                        },
                                        "draft_key": {
                                            "type": "string"
                                        },
                                        "draft_sequence": {
                                            "type": "integer"
                                        },
                                        "categories": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "color": {
                                                        "type": "string"
                                                    },
                                                    "text_color": {
                                                        "type": "string"
                                                    },
                                                    "slug": {
                                                        "type": "string"
                                                    },
                                                    "topic_count": {
                                                        "type": "integer"
                                                    },
                                                    "post_count": {
                                                        "type": "integer"
                                                    },
                                                    "position": {
                                                        "type": "integer"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "description_text": {
                                                        "type": "string"
                                                    },
                                                    "topic_url": {
                                                        "type": "string"
                                                    },
                                                    "logo_url": {
                                                        "type": "string"
                                                    },
                                                    "background_url": {
                                                        "type": "string"
                                                    },
                                                    "read_restricted": {
                                                        "type": "boolean"
                                                    },
                                                    "permission": {
                                                        "type": "integer"
                                                    },
                                                    "notification_level": {
                                                        "type": "string"
                                                    },
                                                    "can_edit": {
                                                        "type": "boolean"
                                                    },
                                                    "topic_template": {
                                                        "type": "string"
                                                    },
                                                    "has_children": {
                                                        "type": "boolean"
                                                    },
                                                    "topics_day": {
                                                        "type": "integer"
                                                    },
                                                    "topics_week": {
                                                        "type": "integer"
                                                    },
                                                    "topics_month": {
                                                        "type": "integer"
                                                    },
                                                    "topics_year": {
                                                        "type": "integer"
                                                    },
                                                    "topics_all_time": {
                                                        "type": "integer"
                                                    },
                                                    "description_excerpt": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new category",
                "parameters": [
                    {
                        "name": "name",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "color",
                                "text_color"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "color": {
                                    "type": "string"
                                },
                                "text_color": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "tags": [
                    "Categories"
                ],
                "responses": {
                    "200": {
                        "description": "category response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "category": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "The id for the category"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "color": {
                                            "type": "string"
                                        },
                                        "text_color": {
                                            "type": "string"
                                        },
                                        "slug": {
                                            "type": "string"
                                        },
                                        "topic_count": {
                                            "type": "integer"
                                        },
                                        "post_count": {
                                            "type": "integer"
                                        },
                                        "position": {
                                            "type": "integer"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "description_text": {
                                            "type": "string"
                                        },
                                        "topic_url": {
                                            "type": "string"
                                        },
                                        "logo_url": {
                                            "type": "string"
                                        },
                                        "background_url": {
                                            "type": "string"
                                        },
                                        "read_restricted": {
                                            "type": "boolean"
                                        },
                                        "permission": {
                                            "type": "string"
                                        },
                                        "notification_level": {
                                            "type": "string"
                                        },
                                        "can_edit": {
                                            "type": "boolean"
                                        },
                                        "topic_template": {
                                            "type": "string"
                                        },
                                        "has_children": {
                                            "type": "boolean"
                                        },
                                        "available_groups": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "auto_close_hours": {
                                            "type": "integer"
                                        },
                                        "auto_close_based_on_last_post": {
                                            "type": "boolean"
                                        },
                                        "group_permissions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "email_in": {
                                            "type": "boolean"
                                        },
                                        "email_in_allow_strangers": {
                                            "type": "boolean"
                                        },
                                        "suppress_from_homepage": {
                                            "type": "boolean"
                                        },
                                        "can_delete": {
                                            "type": "boolean"
                                        },
                                        "cannot_delete_reason": {
                                            "type": "string"
                                        },
                                        "allow_badges": {
                                            "type": "boolean"
                                        },
                                        "custom_fields": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/c/{id}.json": {
            "get": {
                "description": "Get a list of topics in the specified category\n",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "users": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "username": {
                                                "type": "string"
                                            },
                                            "avatar_template": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "topic_list": {
                                    "type": "object",
                                    "properties": {
                                        "can_create_topic": {
                                            "type": "boolean"
                                        },
                                        "draft": {
                                            "type": "boolean"
                                        },
                                        "draft_key": {
                                            "type": "string"
                                        },
                                        "draft_sequence": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "topics": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "fancy_title": {
                                                        "type": "string"
                                                    },
                                                    "slug": {
                                                        "type": "string"
                                                    },
                                                    "posts_count": {
                                                        "type": "integer"
                                                    },
                                                    "reply_count": {
                                                        "type": "integer"
                                                    },
                                                    "highest_post_number": {
                                                        "type": "integer"
                                                    },
                                                    "image_url": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "last_posted_at": {
                                                        "type": "string"
                                                    },
                                                    "bumped": {
                                                        "type": "boolean"
                                                    },
                                                    "bumped_at": {
                                                        "type": "string"
                                                    },
                                                    "unseen": {
                                                        "type": "boolean"
                                                    },
                                                    "pinned": {
                                                        "type": "boolean"
                                                    },
                                                    "unpinned": {
                                                        "type": "boolean"
                                                    },
                                                    "excerpt": {
                                                        "type": "string"
                                                    },
                                                    "visible": {
                                                        "type": "boolean"
                                                    },
                                                    "closed": {
                                                        "type": "boolean"
                                                    },
                                                    "archived": {
                                                        "type": "boolean"
                                                    },
                                                    "bookmarked": {
                                                        "type": "object"
                                                    },
                                                    "liked": {
                                                        "type": "object"
                                                    },
                                                    "views": {
                                                        "type": "integer"
                                                    },
                                                    "like_count": {
                                                        "type": "integer"
                                                    },
                                                    "has_summary": {
                                                        "type": "boolean"
                                                    },
                                                    "archetype": {
                                                        "type": "string"
                                                    },
                                                    "last_poster_username": {
                                                        "type": "string"
                                                    },
                                                    "category_id": {
                                                        "type": "integer"
                                                    },
                                                    "pinned_globally": {
                                                        "type": "boolean"
                                                    },
                                                    "posters": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "extras": {
                                                                    "type": "string"
                                                                },
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "user_id": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/categories/{id}": {
            "put": {
                "description": "Update a single category\n",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "color",
                                "text_color"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string"
                                },
                                "color": {
                                    "type": "string"
                                },
                                "text_color": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Update category response",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "success": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "category": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number"
                                        },
                                        "name": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "color": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "text_color": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "slug": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "topic_count": {
                                            "type": "number"
                                        },
                                        "post_count": {
                                            "type": "number"
                                        },
                                        "position": {
                                            "type": "number"
                                        },
                                        "description": {
                                            "type": "object"
                                        },
                                        "description_text": {
                                            "type": "object"
                                        },
                                        "topic_url": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "logo_url": {
                                            "type": "string"
                                        },
                                        "background_url": {
                                            "type": "string"
                                        },
                                        "read_restricted": {
                                            "type": "boolean"
                                        },
                                        "permission": {
                                            "type": "object"
                                        },
                                        "notification_level": {
                                            "type": "object"
                                        },
                                        "can_edit": {
                                            "type": "boolean"
                                        },
                                        "topic_template": {
                                            "type": "string"
                                        },
                                        "has_children": {
                                            "type": "object"
                                        },
                                        "available_groups": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "auto_close_hours": {
                                            "type": "object"
                                        },
                                        "auto_close_based_on_last_post": {
                                            "type": "boolean"
                                        },
                                        "group_permissions": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 1,
                                            "items": {
                                                "required": [
                                                    "permission_type",
                                                    "group_name"
                                                ],
                                                "properties": {
                                                    "permission_type": {
                                                        "type": "number"
                                                    },
                                                    "group_name": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    }
                                                }
                                            }
                                        },
                                        "email_in": {
                                            "type": "object"
                                        },
                                        "email_in_allow_strangers": {
                                            "type": "boolean"
                                        },
                                        "suppress_from_homepage": {
                                            "type": "boolean"
                                        },
                                        "can_delete": {
                                            "type": "boolean"
                                        },
                                        "cannot_delete_reason": {
                                            "type": "object"
                                        },
                                        "allow_badges": {
                                            "type": "boolean"
                                        },
                                        "custom_fields": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/posts.json": {
            "get": {
                "description": "Get a list of the latest posts across topics\n",
                "tags": [
                    "Posts"
                ],
                "parameters": [
                    {
                        "name": "before",
                        "in": "query",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Latest posts response",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "latest_posts": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "name": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "username": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "avatar_template": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "cooked": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "post_number": {
                                                "type": "number"
                                            },
                                            "post_type": {
                                                "type": "number"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "reply_count": {
                                                "type": "number"
                                            },
                                            "reply_to_post_number": {
                                                "type": "object"
                                            },
                                            "quote_count": {
                                                "type": "number"
                                            },
                                            "avg_time": {
                                                "type": "object"
                                            },
                                            "incoming_link_count": {
                                                "type": "number"
                                            },
                                            "reads": {
                                                "type": "number"
                                            },
                                            "score": {
                                                "type": "number"
                                            },
                                            "yours": {
                                                "type": "boolean"
                                            },
                                            "topic_id": {
                                                "type": "number"
                                            },
                                            "topic_slug": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "topic_title": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "topic_html_title": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "category_id": {
                                                "type": "number"
                                            },
                                            "display_username": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "primary_group_name": {
                                                "type": "object"
                                            },
                                            "primary_group_flair_url": {
                                                "type": "object"
                                            },
                                            "primary_group_flair_bg_color": {
                                                "type": "object"
                                            },
                                            "primary_group_flair_color": {
                                                "type": "object"
                                            },
                                            "version": {
                                                "type": "number"
                                            },
                                            "can_edit": {
                                                "type": "boolean"
                                            },
                                            "can_delete": {
                                                "type": "boolean"
                                            },
                                            "can_recover": {
                                                "type": "object"
                                            },
                                            "can_wiki": {
                                                "type": "boolean"
                                            },
                                            "user_title": {
                                                "type": "object"
                                            },
                                            "raw": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "actions_summary": {
                                                "type": "array",
                                                "uniqueItems": true,
                                                "minItems": 1,
                                                "items": {
                                                    "required": [
                                                        "id",
                                                        "hidden",
                                                        "can_act"
                                                    ],
                                                    "properties": {
                                                        "id": {
                                                            "type": "number"
                                                        },
                                                        "hidden": {
                                                            "type": "boolean"
                                                        },
                                                        "can_act": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "moderator": {
                                                "type": "boolean"
                                            },
                                            "admin": {
                                                "type": "boolean"
                                            },
                                            "staff": {
                                                "type": "boolean"
                                            },
                                            "user_id": {
                                                "type": "number"
                                            },
                                            "hidden": {
                                                "type": "boolean"
                                            },
                                            "trust_level": {
                                                "type": "number"
                                            },
                                            "deleted_at": {
                                                "type": "object"
                                            },
                                            "user_deleted": {
                                                "type": "boolean"
                                            },
                                            "edit_reason": {
                                                "type": "object"
                                            },
                                            "can_view_edit_history": {
                                                "type": "boolean"
                                            },
                                            "wiki": {
                                                "type": "boolean"
                                            },
                                            "static_doc": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "description": "Create a new topic, a new post, or a private message\n",
                "tags": [
                    "Topics",
                    "Posts"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "Api-Key",
                        "type": "string"
                    },
                    {
                        "in": "header",
                        "name": "Api-Username",
                        "type": "string"
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "type": "string",
                        "description": "required if creating a new topic or new private message\n"
                    },
                    {
                        "in": "formData",
                        "name": "topic_id",
                        "type": "integer",
                        "description": "required if creating a new post"
                    },
                    {
                        "in": "formData",
                        "name": "raw",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "category",
                        "type": "integer",
                        "description": "optional if creating a new topic,\nignored if creating a new post\n"
                    },
                    {
                        "in": "formData",
                        "name": "target_usernames",
                        "type": "string",
                        "description": "required for private message, comma separated\n"
                    },
                    {
                        "in": "formData",
                        "name": "archetype",
                        "type": "string",
                        "description": "required for private message\n"
                    },
                    {
                        "in": "formData",
                        "name": "created_at",
                        "type": "string",
                        "description": "pick a date other than the default current time\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "new topic response",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "number"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "username": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "avatar_template": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "created_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "cooked": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "post_number": {
                                    "type": "number"
                                },
                                "post_type": {
                                    "type": "number"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "reply_count": {
                                    "type": "number"
                                },
                                "reply_to_post_number": {
                                    "type": "string"
                                },
                                "quote_count": {
                                    "type": "number"
                                },
                                "avg_time": {
                                    "type": "string"
                                },
                                "incoming_link_count": {
                                    "type": "number"
                                },
                                "reads": {
                                    "type": "number"
                                },
                                "score": {
                                    "type": "number"
                                },
                                "yours": {
                                    "type": "boolean"
                                },
                                "topic_id": {
                                    "type": "number"
                                },
                                "topic_slug": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "display_username": {
                                    "type": "string"
                                },
                                "primary_group_name": {
                                    "type": "string"
                                },
                                "primary_group_flair_url": {
                                    "type": "string"
                                },
                                "primary_group_flair_bg_color": {
                                    "type": "string"
                                },
                                "primary_group_flair_color": {
                                    "type": "string"
                                },
                                "version": {
                                    "type": "number"
                                },
                                "can_edit": {
                                    "type": "boolean"
                                },
                                "can_delete": {
                                    "type": "boolean"
                                },
                                "can_recover": {
                                    "type": "boolean"
                                },
                                "can_wiki": {
                                    "type": "boolean"
                                },
                                "user_title": {
                                    "type": "string"
                                },
                                "actions_summary": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "id",
                                            "hidden",
                                            "can_act"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "number"
                                            },
                                            "hidden": {
                                                "type": "boolean"
                                            },
                                            "can_act": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "moderator": {
                                    "type": "boolean"
                                },
                                "admin": {
                                    "type": "boolean"
                                },
                                "staff": {
                                    "type": "boolean"
                                },
                                "user_id": {
                                    "type": "number"
                                },
                                "draft_sequence": {
                                    "type": "number"
                                },
                                "hidden": {
                                    "type": "boolean"
                                },
                                "hidden_reason_id": {
                                    "type": "string"
                                },
                                "trust_level": {
                                    "type": "number"
                                },
                                "deleted_at": {
                                    "type": "string"
                                },
                                "user_deleted": {
                                    "type": "boolean"
                                },
                                "edit_reason": {
                                    "type": "string"
                                },
                                "can_view_edit_history": {
                                    "type": "boolean"
                                },
                                "wiki": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/posts/{id}.json": {
            "get": {
                "description": "Get a single post\n",
                "tags": [
                    "Posts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "post response",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "number"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "username": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "avatar_template": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "created_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "cooked": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "post_number": {
                                    "type": "number"
                                },
                                "post_type": {
                                    "type": "number"
                                },
                                "updated_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "reply_count": {
                                    "type": "number"
                                },
                                "reply_to_post_number": {
                                    "type": "object"
                                },
                                "quote_count": {
                                    "type": "number"
                                },
                                "avg_time": {
                                    "type": "object"
                                },
                                "incoming_link_count": {
                                    "type": "number"
                                },
                                "reads": {
                                    "type": "number"
                                },
                                "score": {
                                    "type": "number"
                                },
                                "yours": {
                                    "type": "boolean"
                                },
                                "topic_id": {
                                    "type": "number"
                                },
                                "topic_slug": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "display_username": {
                                    "type": "string"
                                },
                                "primary_group_name": {
                                    "type": "object"
                                },
                                "primary_group_flair_url": {
                                    "type": "object"
                                },
                                "primary_group_flair_bg_color": {
                                    "type": "object"
                                },
                                "primary_group_flair_color": {
                                    "type": "object"
                                },
                                "version": {
                                    "type": "number"
                                },
                                "can_edit": {
                                    "type": "boolean"
                                },
                                "can_delete": {
                                    "type": "boolean"
                                },
                                "can_recover": {
                                    "type": "boolean"
                                },
                                "can_wiki": {
                                    "type": "boolean"
                                },
                                "user_title": {
                                    "type": "object"
                                },
                                "raw": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "actions_summary": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                },
                                "moderator": {
                                    "type": "boolean"
                                },
                                "admin": {
                                    "type": "boolean"
                                },
                                "staff": {
                                    "type": "boolean"
                                },
                                "user_id": {
                                    "type": "number"
                                },
                                "hidden": {
                                    "type": "boolean"
                                },
                                "hidden_reason_id": {
                                    "type": "object"
                                },
                                "trust_level": {
                                    "type": "number"
                                },
                                "deleted_at": {
                                    "type": "object"
                                },
                                "user_deleted": {
                                    "type": "boolean"
                                },
                                "edit_reason": {
                                    "type": "object"
                                },
                                "can_view_edit_history": {
                                    "type": "boolean"
                                },
                                "wiki": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Update a single post\n",
                "tags": [
                    "Posts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "post[raw]": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "update post response",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "post": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "number"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "username": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "avatar_template": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "cooked": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "post_number": {
                                            "type": "number"
                                        },
                                        "post_type": {
                                            "type": "number"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "reply_count": {
                                            "type": "number"
                                        },
                                        "reply_to_post_number": {
                                            "type": "object"
                                        },
                                        "quote_count": {
                                            "type": "number"
                                        },
                                        "avg_time": {
                                            "type": "object"
                                        },
                                        "incoming_link_count": {
                                            "type": "number"
                                        },
                                        "reads": {
                                            "type": "number"
                                        },
                                        "score": {
                                            "type": "number"
                                        },
                                        "yours": {
                                            "type": "boolean"
                                        },
                                        "topic_id": {
                                            "type": "number"
                                        },
                                        "topic_slug": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "display_username": {
                                            "type": "string"
                                        },
                                        "primary_group_name": {
                                            "type": "object"
                                        },
                                        "primary_group_flair_url": {
                                            "type": "object"
                                        },
                                        "primary_group_flair_bg_color": {
                                            "type": "object"
                                        },
                                        "primary_group_flair_color": {
                                            "type": "object"
                                        },
                                        "version": {
                                            "type": "number"
                                        },
                                        "can_edit": {
                                            "type": "boolean"
                                        },
                                        "can_delete": {
                                            "type": "boolean"
                                        },
                                        "can_recover": {
                                            "type": "boolean"
                                        },
                                        "can_wiki": {
                                            "type": "boolean"
                                        },
                                        "user_title": {
                                            "type": "object"
                                        },
                                        "actions_summary": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 1,
                                            "items": {
                                                "required": [
                                                    "id",
                                                    "hidden",
                                                    "can_act"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "hidden": {
                                                        "type": "boolean"
                                                    },
                                                    "can_act": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        },
                                        "moderator": {
                                            "type": "boolean"
                                        },
                                        "admin": {
                                            "type": "boolean"
                                        },
                                        "staff": {
                                            "type": "boolean"
                                        },
                                        "user_id": {
                                            "type": "number"
                                        },
                                        "draft_sequence": {
                                            "type": "number"
                                        },
                                        "hidden": {
                                            "type": "boolean"
                                        },
                                        "hidden_reason_id": {
                                            "type": "object"
                                        },
                                        "trust_level": {
                                            "type": "number"
                                        },
                                        "deleted_at": {
                                            "type": "object"
                                        },
                                        "user_deleted": {
                                            "type": "boolean"
                                        },
                                        "edit_reason": {
                                            "type": "object"
                                        },
                                        "can_view_edit_history": {
                                            "type": "boolean"
                                        },
                                        "wiki": {
                                            "type": "boolean"
                                        }
                                    },
                                    "required": [
                                        "id",
                                        "name",
                                        "username",
                                        "avatar_template",
                                        "created_at",
                                        "cooked",
                                        "post_number",
                                        "post_type",
                                        "updated_at",
                                        "reply_count",
                                        "quote_count",
                                        "incoming_link_count",
                                        "reads",
                                        "score",
                                        "yours",
                                        "topic_id",
                                        "topic_slug",
                                        "display_username",
                                        "version",
                                        "can_edit",
                                        "can_delete",
                                        "can_recover",
                                        "can_wiki",
                                        "actions_summary",
                                        "moderator",
                                        "admin",
                                        "staff",
                                        "user_id",
                                        "draft_sequence",
                                        "hidden",
                                        "trust_level",
                                        "user_deleted",
                                        "can_view_edit_history",
                                        "wiki"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/t/{id}.json": {
            "get": {
                "description": "Get a single topic\n",
                "tags": [
                    "Topics"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "topic response",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "post_stream": {
                                    "type": "object",
                                    "properties": {
                                        "posts": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "username": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "avatar_template": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "cooked": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "post_number": {
                                                        "type": "number"
                                                    },
                                                    "post_type": {
                                                        "type": "number"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "reply_count": {
                                                        "type": "number"
                                                    },
                                                    "reply_to_post_number": {
                                                        "type": "object"
                                                    },
                                                    "quote_count": {
                                                        "type": "number"
                                                    },
                                                    "avg_time": {
                                                        "type": "object"
                                                    },
                                                    "incoming_link_count": {
                                                        "type": "number"
                                                    },
                                                    "reads": {
                                                        "type": "number"
                                                    },
                                                    "score": {
                                                        "type": "number"
                                                    },
                                                    "yours": {
                                                        "type": "boolean"
                                                    },
                                                    "topic_id": {
                                                        "type": "number"
                                                    },
                                                    "topic_slug": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "display_username": {
                                                        "type": "string"
                                                    },
                                                    "primary_group_name": {
                                                        "type": "object"
                                                    },
                                                    "primary_group_flair_url": {
                                                        "type": "object"
                                                    },
                                                    "primary_group_flair_bg_color": {
                                                        "type": "object"
                                                    },
                                                    "primary_group_flair_color": {
                                                        "type": "object"
                                                    },
                                                    "version": {
                                                        "type": "number"
                                                    },
                                                    "can_edit": {
                                                        "type": "boolean"
                                                    },
                                                    "can_delete": {
                                                        "type": "boolean"
                                                    },
                                                    "can_recover": {
                                                        "type": "boolean"
                                                    },
                                                    "can_wiki": {
                                                        "type": "boolean"
                                                    },
                                                    "read": {
                                                        "type": "boolean"
                                                    },
                                                    "user_title": {
                                                        "type": "object"
                                                    },
                                                    "actions_summary": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "moderator": {
                                                        "type": "boolean"
                                                    },
                                                    "admin": {
                                                        "type": "boolean"
                                                    },
                                                    "staff": {
                                                        "type": "boolean"
                                                    },
                                                    "user_id": {
                                                        "type": "number"
                                                    },
                                                    "hidden": {
                                                        "type": "boolean"
                                                    },
                                                    "hidden_reason_id": {
                                                        "type": "object"
                                                    },
                                                    "trust_level": {
                                                        "type": "number"
                                                    },
                                                    "deleted_at": {
                                                        "type": "object"
                                                    },
                                                    "user_deleted": {
                                                        "type": "boolean"
                                                    },
                                                    "edit_reason": {
                                                        "type": "object"
                                                    },
                                                    "can_view_edit_history": {
                                                        "type": "boolean"
                                                    },
                                                    "wiki": {
                                                        "type": "boolean"
                                                    },
                                                    "polls": {
                                                        "type": "object",
                                                        "properties": {
                                                            "poll": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "options": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "string"
                                                                                },
                                                                                "html": {
                                                                                    "type": "string"
                                                                                },
                                                                                "votes": {
                                                                                    "type": "integer"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "voters": {
                                                                        "type": "integer"
                                                                    },
                                                                    "status": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "polls_votes": {
                                                        "type": "object",
                                                        "properties": {
                                                            "poll": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "stream": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "required": [
                                        "posts",
                                        "stream"
                                    ]
                                },
                                "id": {
                                    "type": "number"
                                },
                                "title": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "fancy_title": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "posts_count": {
                                    "type": "number"
                                },
                                "created_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "views": {
                                    "type": "number"
                                },
                                "reply_count": {
                                    "type": "number"
                                },
                                "participant_count": {
                                    "type": "number"
                                },
                                "like_count": {
                                    "type": "number"
                                },
                                "last_posted_at": {
                                    "type": "object"
                                },
                                "visible": {
                                    "type": "boolean"
                                },
                                "closed": {
                                    "type": "boolean"
                                },
                                "archived": {
                                    "type": "boolean"
                                },
                                "has_summary": {
                                    "type": "boolean"
                                },
                                "archetype": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "slug": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "category_id": {
                                    "type": "number"
                                },
                                "word_count": {
                                    "type": "object"
                                },
                                "deleted_at": {
                                    "type": "object"
                                },
                                "user_id": {
                                    "type": "number"
                                },
                                "draft": {
                                    "type": "object"
                                },
                                "draft_key": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "draft_sequence": {
                                    "type": "object"
                                },
                                "unpinned": {
                                    "type": "object"
                                },
                                "pinned_globally": {
                                    "type": "boolean"
                                },
                                "pinned": {
                                    "type": "boolean"
                                },
                                "pinned_at": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "pinned_until": {
                                    "type": "object"
                                },
                                "details": {
                                    "type": "object",
                                    "properties": {
                                        "auto_close_at": {
                                            "type": "object"
                                        },
                                        "auto_close_hours": {
                                            "type": "object"
                                        },
                                        "auto_close_based_on_last_post": {
                                            "type": "boolean"
                                        },
                                        "created_by": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "avatar_template": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "username",
                                                "avatar_template"
                                            ]
                                        },
                                        "last_poster": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                },
                                                "username": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "avatar_template": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "username",
                                                "avatar_template"
                                            ]
                                        },
                                        "participants": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 1,
                                            "items": {
                                                "required": [
                                                    "id",
                                                    "username",
                                                    "avatar_template",
                                                    "post_count"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "username": {
[...]
