name: Regular dockstore build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ '21.0.2+13.0.LTS' ]

    steps:
      - name: install git secrets
        run: |
            wget --no-verbose -O git-secrets-1.3.0.tar.gz https://github.com/awslabs/git-secrets/archive/1.3.0.tar.gz
            tar -zxf git-secrets-1.3.0.tar.gz
            cd git-secrets-1.3.0
            sudo make install   
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - if: "!contains(github.ref, 'dependabot')"
        name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      # Step that does that actual cache save and restore
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
           ${{ runner.os }}-maven-
      - name: Build with mvnw
        run: ./mvnw clean install

      - name: Check license file
        uses: dockstore/workflow-actions/.github/actions/check-license@main

      - name: Perform CodeQL Analysis
        if: "!contains(github.ref, 'dependabot')"      
        uses: github/codeql-action/analyze@v3          
